@import "./bootstap-override";

body {
  font-family: "Roboto Condensed", sans-serif;
}

nav {
  background-color: black;
  img {
    width: 13%;
  }
}

footer {
  background-color: black;
  text-align: center;
  padding: 5.7vh;
}

.footerContainer {
  text-align: center;
}
